[Desktop Entry]
Name=Hydra Dark
Comment=Tema oscuro estilo Windows para Hydra OS
X-KDE-PluginInfo-Name=com.hydraos.hydra-dark
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-Author=Hydra OS Team
X-KDE-PluginInfo-Email=
